.container {
    width: 500px;
    margin-top: 50px;
}

.panel {
    display: flex;
}

.list-group {
    margin-top: 1rem;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
}

.remove {
    color: darkred;
    cursor: pointer;
}

js-input{
    /* margin-right: 1rem; */
}
.js-item{
    display: flex;
    justify-content: space-between;
}
.js-form-control{
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
}
.js-group{
    margin-top: 1rem;
}
.js-remove {
    color: darkred;
    cursor: pointer;
}
.js-checkbox {
    margin-right: 0.5rem;
}
.done {
    text-decoration: line-through;
}
.js-cancel {
    margin-right: 1rem;
    margin-left: -1rem;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    color: darkred;
}
.visible {
    visibility: visible;
}
.hidden {
    visibility: hidden;
}